<div class= "home">
  <h1>Gossip de <%=@gossip.user.name%></h1>

  <h2>Titre : <%=@gossip.title%> </h2>
  <h3>Gossip : <%=@gossip.content%> </h3>
  <p> <%=@gossip.created_at%> </p>
  <%= link_to "Afficher la page de l'utilisateur", "/users/#{@gossip.user_id}"%>
</div>